.form {
  border: solid 2px;
  padding: 5px;
}
.btn {
  border-radius: 4px;
  cursor: pointer;
  background-color: deepskyblue;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.btn:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: red;
}
